<div class="container">
  <mat-card class="todos-card">
    <mat-card-header>
      <mat-card-title>Todo list</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="new-todo" appearance="outline">
        <mat-label>New task</mat-label>
        <input [formControl]="newTodoControl" matInput placeholder="New Task" />
        <mat-error *ngIf="newTodoControl.hasError('required')">Required</mat-error>
      </mat-form-field>
      <div class="todos-list">
        <mat-divider></mat-divider>
        <ng-container *ngFor="let todo of todos$ | async">
          <div class="todos-list-todo">
            {{ todo }}
            <button class="todos-list-todo-delete" mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
            <button class="todos-list-todo-done" mat-icon-button color="primary">
              <mat-icon>done</mat-icon>
            </button>
          </div>
          <mat-divider></mat-divider>
        </ng-container>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [disabled]="newTodoControl.invalid" (click)="addTodo()">Add</button>
    </mat-card-actions>
  </mat-card>
</div>
